<% layout("/Layouts/boilerplate") %>

    <body>

        <div class="heading mt-2">

            <h1>Edit your List</h1>
        </div>

        <form action="/listing/<%= data._id%>?_method=PUT" novalidate class="needs-validation" method="post">


            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" class="form-control"  value="<%= data.title %>">
                <div class="valid">Looks Good</div>
            </div>
             <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="description" class="form-control textarea" ><%= data.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" name="image" class="form-control"   value="<%= data.image %>">
            </div>

            <div class="row  ">
                                    
                    <div class="mb-3 col-lg-6 col-md-6  col-sm-12">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="price" class="form-control"   value="<%= data.price %>">
                    </div>
                    
                    <div class="mb-3 col-lg-6 col-md-6  col-sm-12">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control"  value="<%= data.location %>">
                    </div>
                
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="country" class="form-control"  value="<%= data.country %>">
            </div>



 

            <button class="btn btn-dark" type="submit">Edit</button>


        </form>

    </body>